

.main-checker-title {
    margin: 20px 0;
}

.submit-btn {
    background-color: #6c757d;
    border-radius: 5%;
    display: block;
    margin: 20px;
    margin-left: 20px;
    margin-right: auto;
    padding: 20px;
}

.submit-btn:hover {
    background-color: black;
}

.checker-text-area {
    width: 100%;
}