.main-checker-title {
    margin: 20px 0;
}

.submit-btn {
    background-color: #6c757d;
    border-radius: 5%;
    display: block;
    margin-top: 20px;
    padding: 20px;
}

.submit-btn:hover {
    background-color: black;
}

.checker-text-area {
    width: 100%;
}

.space-margin-bottom {
    margin-bottom: 2rem;
}